.cart {
  @apply pointer-events-none invisible fixed top-0 right-0 z-9 h-screen w-full max-w-2xl bg-pageText text-pageBG;
  height: calc(var(--vh, 1vh) * 100);
  will-change: transform;
  transition: visibility 0.2s 0.8s;

  @media (min-width: 700px) {
    border-left-width: 1px;
  }

  &.is-active {
    @apply pointer-events-auto visible;
    transition-delay: 0s;
  }

  &.is-updating {
    @apply cursor-wait !important;
  }

  &--backdrop {
    @apply pointer-events-none fixed inset-0 z-8 bg-black bg-opacity-40 opacity-0;
    transition: opacity 0.15s linear;

    &.is-active {
      @apply pointer-events-auto opacity-100;
      backdrop-filter: blur(6px);
    }
  }

  &--inner {
    @apply relative flex h-full w-full flex-col;
  }

  &--header {
    @apply relative flex items-center px-16 py-12 text-14 font-semibold uppercase leading-150 sm:px-32 sm:py-24;

    &::after {
      @apply absolute inset-x-0 bottom-0 border-t;
      content: '';
    }
  }

  &--title {
    @apply mr-auto flex h-48 items-center;
  }

  &--count {
    @apply ml-8 opacity-30;
  }

  &--content {
    @apply flex flex-1 flex-col overflow-y-scroll p-16 sm:p-32;
  }

  &--footer {
    @apply relative px-16 pb-16 sm:px-32 sm:pb-32;
  }

  &--subtotal {
    @apply flex justify-between border-t px-16 py-16 sm:py-32;

    span {
      @apply text-16 font-semibold;
    }
  }

  &--message {
    @apply mt-16 text-center text-12 font-semibold sm:text-14;
  }

  &--empty {
    @apply my-auto pb-112 text-center;
  }
}

.cart-item {
  @apply relative flex;

  &:not(:last-child) {
    @apply mb-32 border-b pb-32;
  }

  .is-updating & {
    @apply pointer-events-none;
  }

  &--photo {
    @apply relative m-0 w-1/4 flex-shrink-0 sm:w-1/3;
    max-width: 16rem;
  }

  &--details {
    @apply flex flex-grow flex-col pl-16;
  }

  &--header {
    @apply sm:flex;

    .price {
      @apply ml-auto;

      &--current {
        @apply font-semibold sm:text-18 sm:leading-150;
      }
    }
  }

  &--title {
    @apply sm:pr-48;
  }

  &--variant {
    @apply mb-4 text-12 font-semibold uppercase leading-160 tracking-wider sm:text-14 sm:leading-160;
  }

  &--name {
    @apply mb-8 text-20 sm:mb-16 sm:text-30;
  }

  &--link {
    @apply block text-current;

    &::after {
      @apply absolute inset-0 z-1 block;
      content: '';
    }
  }

  &--title {
    @apply m-0 flex-1;
  }

  &--price {
    @apply ml-16;
  }

  &--tools {
    @apply relative z-1 mt-auto flex items-baseline justify-between pt-24;
  }
}
