.counter {
  @apply inline-grid h-full rounded-full border bg-pageBG p-8 text-pageText;
  grid-template-columns: auto auto auto;

  &.is-inverted {
    @apply bg-transparent text-pageBG;
  }

  &.is-small {
    @apply p-4;
  }

  &--down,
  &--up {
    @apply -my-1 h-32 w-32 self-center rounded-full bg-transparent p-8 transition-colors duration-300;

    .cart & {
      @apply my-0;
    }

    &:hover {
      background: hsla(var(--pageText-hsl), 0.2);

      .is-inverted & {
        background: hsla(var(--pageBG-hsl), 0.2);
      }
    }

    svg {
      @apply block;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }

  &--amount {
    @apply relative w-48 overflow-hidden font-mono text-12;

    .cart & {
      @apply w-32;
    }

    &:focus-within {
      outline: 1px dashed var(--pageText);
      outline-offset: 2px;

      .is-inverted & {
        outline-color: var(--pageBG);
      }

      body:not(.is-tabbing) & {
        outline: none;
      }
    }
  }

  &--input {
    @apply relative flex h-full w-full;
    will-change: transform;

    + .counter--input {
      @apply absolute inset-0;
    }

    input {
      @apply relative h-full w-full appearance-none rounded-none border-0 bg-transparent p-4 text-center text-16 text-current outline-none;
      font-feature-settings: 'tnum';
    }
  }
}
