.cursor {
  @apply pointer-events-none fixed top-0 left-0 h-0 w-0;
  z-index: 120;

  &--content {
    @apply absolute -translate-x-1/2 -translate-y-1/2 transform-gpu;
  }

  /* Simple dot cursor */
  span {
    @apply relative block h-40 w-40;

    &::before {
      @apply absolute inset-0 rounded-full border;
      transform: scale(0);
      will-change: transform;
      transition: transform 0.5s 0.1s cubic-bezier(0.22, 1, 0.36, 1);
      content: '';
    }

    &::after {
      @apply absolute inset-0 rounded-full bg-pageText;
      will-change: transform;
      transform: scale(0.625);
      transition: transform 0.5s 0.1s cubic-bezier(0.22, 1, 0.36, 1);
      content: '';
    }
  }

  &.is-hovering {
    span {
      &::before {
        transform: scale(1);
      }

      &::after {
        transform: scale(0.125);
      }
    }
  }
}
