a[href='#content'].skip-link {
  @apply fixed top-0 left-1/2 z-9 block -translate-x-1/2 -translate-y-full bg-pageBG px-8 py-4 text-12 font-semibold uppercase leading-125 text-pageText;

  &:focus {
    @apply translate-y-0 outline-none;
  }
}

.header {
  @apply sticky inset-x-0 top-0 z-5;

  &.is-overlay {
    @apply h-0;
  }

  &--outer {
    @apply relative;
  }

  &--inner {
    @apply relative z-2 bg-pageBG p-4 sm:p-16;

    .is-overlay & {
      @apply bg-transparent transition-colors duration-300;
    }

    .has-bg & {
      @apply bg-pageBG;
    }

    .is-white & {
      @apply text-white delay-75;
    }
  }

  &--content {
    @apply relative z-3 flex flex-col items-center;
  }

  &--border {
    @apply absolute inset-x-0 bottom-0 z-2 border-t;
    transition: opacity 0s 0.6s linear;

    .is-overlay:not(.has-bg) & {
      transition-duration: 0.4s;
      transition-delay: 0s;
    }

    .is-white & {
      @apply border-white;
      transition-delay: 0s;
    }

    &.is-hidden {
      @apply opacity-0;
      transition-delay: 0s;
    }
  }
}

.logo {
  @apply relative z-1 flex flex-col;

  &--link {
    @apply clean-btn block bg-transparent p-8;

    svg {
      @apply block h-48 w-auto fill-current;
    }
  }
}

.menu-toggle {
  /* @apply sm:hidden absolute inset-y-0 left-0 z-6 clean-btn p-15 bg-transparent; */
  @apply clean-btn absolute inset-y-0 left-0 z-6 bg-transparent sm:hidden;

  .is-overlay:not(.has-bg) & {
    @apply transition-colors duration-300;
  }

  &.is-open {
    @apply text-pageText;
  }
}

.hamburger {
  @apply relative mx-auto flex w-30 flex-col items-center justify-center;

  &::before,
  &::after {
    @apply relative block h-0 w-full border-t;
    content: '';
    margin: 6px 0;
    transition: opacity 0s 0.2s linear, transform 0.2s 0.2s ease-out;

    .is-open & {
      @apply opacity-0;
      transition: opacity 0s 0.2s linear, transform 0.2s ease-out;
    }
  }

  &::before {
    .is-open & {
      transform: translateY(5px);
    }
  }

  &::after {
    .is-open & {
      transform: translateY(-5px);
    }
  }

  &--icon {
    @apply relative block h-0 w-full border-t;
    transition: border 0s 0.2s linear;

    .is-open & {
      @apply border-transparent;
    }

    &::before,
    &::after {
      @apply absolute block h-0 w-full border-t opacity-0;
      content: '';
      top: calc(50% - 0.5px);
      transition: opacity 0s 0.2s, transform 0.2s ease-out;

      .is-open & {
        @apply opacity-100;
        transition: transform 0.2s 0.2s ease-out;
      }
    }

    &::before {
      .is-open & {
        transform: rotate(45deg);
      }
    }

    &::after {
      .is-open & {
        transform: rotate(-45deg);
      }
    }
  }
}

.cart-toggle {
  @apply clean-btn relative -mr-8 flex items-center bg-transparent p-8 font-semibold uppercase;
  font: inherit;

  &--count {
    @apply relative ml-8 flex h-32 w-32 flex-col justify-center rounded-full border border-current bg-transparent text-14 font-bold leading-160 text-current;

    &.is-active {
      @apply border-pageText bg-pageText text-pageBG;
      animation: pulse 2s infinite;
    }
  }
}

.main-navigation {
  &--desktop {
    @apply absolute inset-0 hidden items-center justify-between sm:flex;

    .menu-left,
    .menu-right {
      @apply flex items-center;
    }

    ul {
      @apply flex;

      li {
        @apply mx-8;
      }

      button {
        @apply clean-btn bg-transparent;
        font: inherit;
      }

      a,
      button {
        @apply block p-8 text-14 font-semibold uppercase leading-150;
      }
    }
  }

  &--mobile {
    @apply absolute inset-0 flex items-center justify-end sm:hidden;

    .menu-mobile {
      @apply fixed top-0 left-0 z-5 flex h-screen w-full max-w-[420px] flex-col bg-pageBG text-pageText;
      height: calc(var(--vh, 1vh) * 100);
      will-change: transform;

      @media (min-width: 421px) {
        border-right-width: 1px;
      }

      &--backdrop {
        @apply pointer-events-none fixed inset-0 z-4 bg-black bg-opacity-40 opacity-0;
        transition: opacity 0.15s linear;

        &.is-active {
          @apply pointer-events-auto opacity-100;
          backdrop-filter: blur(6px);
        }
      }

      &--inner {
        @apply flex flex-1 flex-col overflow-y-scroll px-16 pb-16;
        padding-top: calc(var(--headerHeight, 10rem) + 2.5rem);
      }

      button {
        @apply clean-btn bg-transparent;
        font: inherit;
      }

      a,
      button {
        @apply block p-0;
      }

      &--primary {
        ul {
          @apply flex flex-col;
        }

        a,
        button {
          @apply text-36 leading-150;
        }
      }

      &--secondary {
        @apply pt-32;

        ul {
          @apply flex flex-col;
        }

        a,
        button {
          @apply text-20 leading-150;
        }
      }

      &--featured {
        @apply flex;
      }
    }
  }

  .cart-toggle {
    @apply mx-8 p-8 text-14 font-semibold uppercase leading-150;
  }
}
