.theme-switch {
  @apply my-16 inline-block;

  &--toggle {
    @apply clean-btn flex items-center rounded-full border bg-transparent p-8;
  }

  &--label {
    @apply mx-8 text-14 font-semibold;
  }

  .swatch {
    @apply border;

    &::before {
      @apply opacity-0;
    }
  }
}

.swatch {
  @apply relative block h-20 w-20 rounded-full p-0;
  background-color: var(--swatchColor);

  /* ring */
  &::before {
    @apply absolute inset-0 rounded-full border opacity-10;
    border-color: var(--swatchBorder);
    content: '';
  }

  /* active */
  &::after {
    @apply absolute inset-[-3px] rounded-full border border-transparent opacity-0 transition-opacity duration-200;
    content: '';

    .is-active & {
      @apply border-pageText opacity-100;

      .is-inverted & {
        @apply border-pageBG;
      }
    }

    li:not(.is-soldout):not(.is-active) button:hover & {
      @apply border-pageText opacity-50;
    }

    .is-soldout & {
      @apply -inset-1 border-transparent opacity-100;
      background: linear-gradient(
          45deg,
          transparent calc(50% - 1px),
          var(--pageText),
          transparent calc(50% + 1px)
        ),
        linear-gradient(
          -45deg,
          transparent calc(50% - 1px),
          var(--pageText),
          transparent calc(50% + 1px)
        );
    }
  }
}
